<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MyT Codon Researcher Portal</title>
    <link href="style/mytCodon.css" rel="stylesheet" type="text/css" />
    </head>
<header>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="labnotebooks.html">Lab Notebooks</a></li>
                <li><a href="../researchers">Researchers</a></li>
                <li><a href="chimeras.html">Chimeras</a></li>
                <li><a href="genes.html">Genes</a></li>
                <li><a href="vectors.html">Vectors</a></li>
                <li><a href="antibacterials.html">AntiBacterials</a></li>
            </ul>
        </nav>
    </header>
<body>

    {{{body}}}

</body>
</html>