<!-- about.hbs -->
<h2>About Us</h2>
<p>Here at MyT Codon, we are passionately invested in unlocking mysteries of Mitochondrial Disease. 
            Our sole focus is to combine modern DNA sequencing with state-of-the-art gene therapies and AI to 
            eradicate all symptoms of these disorders. Our approach leverages our vast data of mitochondrial 
            disease phenotypes, the 37 mitochondrial genes and regulatory RNAs that make up the 16569 base pairs 
            of the mitochondrial genome, and the ever-growing list of novel gene therapies of which there are 
            greater than 1000 to date. Harnessing AI, we then offer our patients and providers precise, 
            tailored treatment options.</p>