<!-- chimeras.hbs -->
<div>
    <h2>MyT Codon Chimeraplastic Therapeutic Repository:</h2>
</div>

{{!-- Create a table --}}
<table>

    {{!-- Table header section --}}
    <thead>
        <tr>
            <th>Mito Gene</th>
            <th>Vector Used</th>
            <th>Provider Name</th>
            <th>Disease/Phenotype</th>
        </tr>
    </thead>

    {{!-- Table body section --}}
    <tbody>

        {{!-- For each row, print the ResearcherID, FirstName, LastName, and Credential, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.HgncSymbol}}</td>
            <td>{{this.ProductName}}</td>
            <td>{{this.ProviderName}}</td>
            <td>{{this.DiseaseName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
    <h3>Add New Chimera</h3>
    <form action="" method="get">
        <fieldset>
            <legend>Lab Notebook Details</legend>
            <label for="labNotebookID">Select Lab Notebook:</label>
            <select name="labNotebookID" id="labNotebookID">
                <option value="">--Please choose an option--</option>
                <option value=NULL>Unknown</option>
                <option value="1">Provider Inc.; 2019/02/04</option>
                <option value="2">Very Good Pharmaceuticals; 2020/08/05</option>
                <option value="3">Healthcare Co.; 2020/01/11</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Chimera Details</legend>
            <div>
                <label for="mitoGeneID">Select MitoGene:</label>
                <select name="mitoGeneID" id="mitogeneID">
                    <option value="">--Please choose an option--</option>
                    <option value="MT-ATP6">MT-ATP6</option>
                    <option value="MT-ND5">MT-ND5</option>
                    <option value="MT-TL1">MT-TL1</option>
                </select>
            </div>
            <div>
                <label for="vectorID">Select Vector:</label>
                <select name="vectorID" id="vectorID">
                    <option value="">--Please choose an option--</option>
                    <option value="pHSG398DNA">pHSG 398 DNA</option>
                    <option value="pHSG396DNA">pHSG 396 DNA</option>
                    <option value="PSF-CMV-KAN">PSF-CMV-KAN</option>
                    <option value="PSF-CAG-KAN">PSF-CAG-KAN</option>
                </select>
            </div>
            <div>
                <label for="providerName">Provider Name:</label>
                <input type="text" id="providerName" name="providerName"
                    minlength="1" maxlength="100" size="10"> 
            </div>
            <div>
                <label for="diseaseName">Disease Name:</label>
                <input type="text" id="diseaseName" name="diseaseName"
                    minlength="1" maxlength="255" size="10"> 
            </div>
        </fieldset>
        <div>
            <input type="submit" value="Add Chimera">
        </div>
    </form>
</div>