<!-- index(home).hbs -->
<h2>MyT Codon Project Notebooks</h2>
<p>To satisfy regulatory requirements, our Research Portal allows our staff to catalog the validation 
          work completed in creating the chimeraplastic therapeutic agents used in both clinical trials and FDA 
          approved treatments. Regulations dictate that each validated therapy needs to have an appropriate 
          sign-off from a credentialed staff member, and a validation date for when all sensitivity, 
          specificity, precision, and accuracy measurements satisfy ISO guidelines.</p>
<p>To navigate between any of the database elements, plese use the navigation bar at the top of this page.</p>